{% extends 'base.html' %}
{% block body %}
<h1>About</h1>
<section id="about">
        <p> Explore your Raceroom ranked career history through detailed statistical insights provided by this tool.
            The official website features a dashboard displaying your finishing positions, ELO, and other statistics
            for your last 100 races, along with a career page to review your complete racing history.<br><br>
        </p>
            Designed to expand upon these graphs, this site helps you better understand your results by uncovering extra
            data points from the source files that aren't visible on your career page.
        </p>

</section>

<h1>Features</h1>
<section id="features">
        <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit.
            Quisque faucets ex sapien vitae interpellates sem placerat.
            In id cursus mi pretium tellus duis Corvallis.
            Tempus leo eu aenean sed diam urna tempor.
            Pulmonary vivamus flavoring lacks nec metus biennium exists.
            Culiacan mass nil dalesman lacinia integer nunc posuere.
            Ut he dendrite semper vel class aptent tacit sociology.
            Ad littoral torquent per conubia nostril inceptions him names.
        </p>
</section>

<h1>How to use:</h1>
<section class="guide" id="guide">
        <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit.
            Quisque faucets ex sapien vitae interpellates sem placerat.
            In id cursus mi pretium tellus duis Corvallis.
            Tempus leo eu aenean sed diam urna tempor.
            Pulmonary vivamus flavoring lacks nec metus biennium exists.
            Culiacan mass nil dalesman lacinia integer nunc posuere.
            Ut he dendrite semper vel class aptent tacit sociology.
            Ad littoral torquent per conubia nostril inceptions him names.
        </p>
</section>
{% endblock %}