* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    font-family: sans-serif;
    color: white;
    background-image: linear-gradient(rgba(50, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('images/backgrounds/211500_20.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/* Navbar Styles */
.navbar {
    position: fixed;
    top: 0;
    height: fit-content;
    width: 100%;
    background-color: rgba(255,0,0,0.25);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
    display:flex;
    justify-content: space-between;
}
.navbar-banner{
    display: flex;
    flex-direction: column;
    background-color: rgba(25,25,25,0.5);
    border: 1px solid rgba(25, 25,25,0.15);
    width: fit-content;
    padding: 0.5rem 1rem;
}
.navbar-banner a{
    color: white;
    text-decoration: none;
}
.navbar-items{
    display: flex;
}
.navbar-items a{
    color: rgba(220,220,220,0.95);
    border: 1px solid rgba(25, 25,25,0.15);
    background-color: rgba(25,25,25,0.5);
    text-decoration: none;
    margin: 0;
    padding: 1rem 1rem;
    transition: color, background-color, font-size, 0.15s ease-in-out;
}
.navbar-items a:hover{
    color: rgba(255,255,255,1);
    background-color: rgba(25,25,25,0.15);
}

/* BODY | BODY | BODY */
.content_dimmed{
    position: relative;
    display: inline-block;
    margin: 5%;
    padding: 2.5%;
    background-color: rgba(25,25,25,0.5);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(50,50,50,0.5);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);

}
.search_bar{
    position: absolute;
    translate: -50% -50%;
    left:50%;
    top:50%;
    width: 80%;
    text-align: center;
    padding: 2.5%;
    background-color: rgba(25,25,25,0.5);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(50,50,50,0.5);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
.search_bar input{
    position: relative;
}
section{
   padding: 2.5%;
}
section h2{
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
section h3{
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.track_layouts{
    display: flex;
}
.track_layouts p{
    padding-left: 2.5%;
    padding-right: 2.5%;
}
.track_layouts img{
    height: 256px;
    width: 256px;
    transition: width, height, 0.15s ease-in-out;
}
.track_layouts img:hover{
    height: 312px;
    width: 312px;
}
.features{
    margin: 5%;
}
.features ul{
    list-style-type: "- ";
}

/* SRC BAR */


